.gradle
/local.properties
*.iml
.idea/.name
.idea/assetWizardSettings.xml
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/navEditor.xml
.idea/tasks.xml
.idea/workspace.xml
.idea/libraries
.idea/caches
.idea/inspectionProfiles
.idea/shelf
.idea/sonarlint
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
